/CoreRestApplication.UnitTest/obj/*
/CoreRestApplication.UnitTest/bin/*
/CoreRestApplication.Test/obj/*
/CoreRestApplication.Test/bin/*

/CoreRestApplication.Core/bin/Debug/netcoreapp3.1/*
/CoreRestApplication.Core/obj/Debug/netcoreapp3.1/*
/CoreRestApplication/bin/Debug/netcoreapp3.1/*
/CoreRestApplication/bin/Debug/netcoreapp3.1/*
/CoreRestApplication/obj/Debug/netcoreapp3.1/*
